.headerWrapper {
  height: 17.5vh;
  width: 100%;
}

.Header {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  border-style: solid;
  border-color: goldenrod;
  border-radius: 5px;
  line-height: 0px;
  height: 100%;
  width: 95%;
  position: relative;
  margin-left: 2.5%;
}

.banner {
  height: 100%;
  width: 38%;
  /* border-radius: 5px; */
}

.ad {
  height: 100%;
  width: 62%;
  /* border-radius: 5px; */
}
